extends layout

block content
    h1 Administrator Portal
    ul
        li <a href="/admin/addCourse">Add New Class</a>
        li <a href="/admin/addStudent">Add New Student</a>
        li <a href="/admin/addProfessor">Add New Professor</a>
        li <a href="">Analyze Enrollment</a>

