extends layout

block content
    h1 Analyze Student Enrollments by:
    ul
        li <a href="/admin/analyzeByCourses">Courses</a>
        li <a href="/admin/analyzeByDepartment">Department</a>
        li <a href="/admin/analyzeBySemester">Semester</a>
        li <a href="/admin/analyzeByProfessor">Professor</a>
