extends layout

block content
    h1= 'Enroll new course'
    form(name='enroll-course', method='post')
        div.input
            span.label Course Title
            input(type="text", name="courseTitle")
        div.input
            span.label Section Number
            input(type="text", name="sectionNum")
        div.input
            span.label Student ID
            input(type="text", name="sId")
        div.action
            input(type="submit", value="Enroll")
    h3= message
