extends layout

block content
    h1= 'Adding new student'
    h2= message
    form(name='add-course', method='post')
        div.input
            span.label Student ID
            input(type="text", name="sId")
        div.input
            span.label First Name
            input(type="text", name="firstName")
        div.input
            span.label Last Name
            input(type="text", name="lastName")
        div.input
            span.label Email
            input(type="text", name="email")
        div.input
            span.label Major
            input(type="text", name="major")
        div.input
            span.label Start Date(YYYY-MM-DD)
            input(type="text", name="startDate")
        div.action
            input(type="submit", value="Add")
