extends layout

block content
    h1= 'Look up course detail'
    form(name='add-course', method='post')
        div.input
            span.label Course Title
            input(type="text", name="courseTitle")
        div.action
            input(type="submit", value="Search")